.signIn-container {
    width: 40vw;
    background-color: #f8f8f8;
    text-align: left;
    padding: 20px;
    overflow: hidden;
    box-shadow: 2px 2px 2px 4px #f5f5f5;
    margin: 10px;
}

.signIn-heading {
    text-align: center;
    padding: 20px;
    
}

.signIn-email, .signIn-password {
    padding: 10px 10px;
    width: 90%;
    display: block;
    margin: 10px;
}

.signIn-container p{
    margin: 10px;
}