.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.homepage {
    width: 80vw;
    display: grid;
    justify-content: center;
    margin: auto;
}

.topCourses{
    text-align: center;
    padding: 20px;
}

.heading {
    padding: 20px;
    margin: 20px 0px;

}
