/* @import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:wght@400;700;800&family=Sarabun:wght@200&display=swap'); */
@import url(https://db.onlinewebfonts.com/c/27cb2381f8e348c531e19a16b9921082?family=Suisse+Works+Bold);
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Suisse Works Bold',Georgia,Times,'Times New Roman',serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
  background-color: #f8f8f8;
}